.profile-view {
  background-image: url("../../../img/ticket.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 75%;
  margin: auto;
  font-size: 100%;
  font-style: italic;
  font-weight: bold;
  color: aliceblue;
  text-align: left;
}

.profile-view Button {
  margin: 10px 5px;
}

.update {
  background-image: url("../../../img/clip.webp");
  background-repeat: no-repeat;
  background-position: center;
  width: 75%;
  margin: auto;
  color: rgb(0, 123, 255);
}
