.login-view {
  background-image: url("../../../img/ticket.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 75%;
  margin: auto;
}

.login-buttons Button {
  margin: 10px 5px;
}

Form {
  font-size: 150%;
  font-style: italic;
  font-weight: bold;
}

body {
  background-color: rgb(222, 220, 221);
}

h1 {
  margin: 15px auto;
}
